*{
    margin: 0;
    padding: 0;
}
#ul li {
    list-style-type:none;
    background-color: aqua;
    width: 300px;
    margin-top: 4px;
    margin-bottom: 6px;

}
#ul li button {
    margin-left:12px;
}
.spanColor{
    color: crimson;
    background-color: azure;
}